header{
  text-align: center;
  background: #D3D3;
  color: red;
}
a{
/*   display: inline-block; */
  width: 24%;
  font-size: 150%;
  font-variant: small-caps;
}

h2{
  color: blue;
  background: #00b7ea;
  font-family: Arial;
}

section{
  background: #D3D3D3;
  display: inline-block;
  width: 30%;
  float:left;
  margin-right: 2%;
}
footer{
  background: #D3D3;
  height: 100px;
  clear: both;
}

body{
  background: #D3D3;
  margin: 2%;
  font-size: 150%
}
img{
  width: 100px;
}
h1{
  color: #ffffff;
}
details{
  font-style:italic;
}
summary{
  font-family: Arial;;
}